/* Alterar a fonte padr�o */
body { font-family: "Open Sans", sans-serif !important; background-color: #f0f0f0; }
.ui-widget { font-family: "Open Sans", sans-serif !important; }


.list-filtro { padding: 0px !important; border: none !important; } 
.topo-sistema .info-user { height: 66px !important; margin-top: 8px !important; }
.home-lateral { background-color: #FFF !important; }

.home-lateral-item { color: #4caf50; }

.ui-datepicker-month > option, .ui-datepicker-year > option { border: none; cursor: pointer; padding: 4px; }
.ui-datepicker-month, .ui-datepicker-year {  }
.ui-timepicker-div .ui_tpicker_second, .ui-timepicker-div .ui_tpicker_millisec { display: none; }

.box-shadow { box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.ui-icon { background-image: url("../images/ui-icons_ededed_256x240.png") !important; } /* /crm-web/resources/css/theme/ */

.size-data input { width: 67px; }

.ui-datatable .ui-paginator .ui-icon { display: none; }

.ui-datatable .ui-state-default { font-size: 1.25em; }

.ui-toolbar.ui-widget-header { background: #fafafa; border: none; }

/* .conteiner-field .label { width: 140px; } */

.ui-chkbox { float: left; }
.modulo-bloco .ui-chkbox { float: none; }
.label-checkbox { float: left; padding: 3px 8px; }






.ui-panel { border: none; box-shadow: 0px 3px 8px rgba(200,200,200, 0.3); }

